<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        <h1 class="ptp-name">{{ site.prototype_title }}</h1>
        <h2 class="company-name">{{ site.company }}</h2>
   <span>{{ site.github.public_repositories[1].date_created }}</span>
        <div class="flex justify between main-content">
        <img class="ptp-screenshot" src="./screenshot.png"/>
        <ul class="sidebar flex column">
        <li class="sidebar-item flex column">
        <h3 class="sidebar-item-title">
        Descroption
        </h3>
        <div class="sidebar-item-content">
              {{ site.github.public_repositories[1].description }}
        </div>
        </li>
          <li class="sidebar-item flex column">
        <h3 class="sidebar-item-title">
        Tags
        </h3>
        <div class="sidebar-item-content">
              #{{ site.github.public_repositories[1].topics | join: " #" }}
        </div>
        </li>
        </div>
        </div>
        <span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt1" data-icon_d="alrt1" data-icon_l_c_v="#41c9d6" data-icon_d_c_v="#41c9d6" data-identifier="item_1"></span>
<script>
(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
</script>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
